# Carpeta personal
00_r/**
.env

# Archivos de metadatos de varios editores
.idea/
.vscode/
.project
.classpath
.settings/

# Archivos generados por Dart y Flutter
.dart_tool/**
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
web/
# El archivo pubspec.lock DEBE ser versionado, así que nos aseguramos de que no esté aquí.
# !pubspec.lock

# Archivos de sistema operativo
.DS_Store
._*
Thumbs.db

# Logs y otros artefactos
*.log
